.root {
    border-top: 1px solid var(--ge0);
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content min-content;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
}
